/* header */

nav {
    padding-bottom: 100px;
}

nav .brand-logo {
    color: #d8cdcd;
}

nav ul a {
    color: #d8cdcd;
    margin-top: 20px;
}

.fa-bars {
    color: #d8cdcd;
}

.club-name {
    font-family: 'Patua One', cursive;
    left: 10px;
}s

nav ul {
    font-family: 'Kiwi Maru', serif;
    padding-top: 20px;
}

.sidenav-trigger {
    padding-top: 25px;
}

nav li:hover {
    background-color: #b31010;
}

/* header */
/* base */
.flash-message {
    margin-top: 50px;
    color: #d8cdcd;
    font-family: 'Kiwi Maru', serif;
}

/* base */
/* home */

.img-size {
    max-height: 90vh;
    overflow: hidden;
}

.home-pic {
    width: 110vw;
    height: auto;
    overflow: hidden;
}

.home-card {
    color: #d8cdcd;
    font-family: 'Kiwi Maru', serif;
}

/* home */

/* footer */

.footer-unit {
    padding-top: 20px;
    padding-bottom: 2px;
}

.copyright {
    color: #d8cdcd;
}

.social-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: #d8cdcd;
}

/* footer */
/* sign up */

#gender-select, #position-select {
    display: none;
}

/* sign up */
/* teams */

.team-name {
    font-family: 'Patua One', cursive;
    color: #d8cdcd;
    border-radius: 5px;
    margin-top: 30px;
}

.team-detail {
    text-transform: capitalize;
}

.player-detail {
    border-radius: 5px;
}

.player-pos {
    font-family: 'Patua One', cursive;
}

.player-name {
    font-family: 'Kiwi Maru', serif;
}

/* teams */
/* Media Queries */

@media only screen and (max-width: 992px) {
    .club-name {
        left: 120px !important;
    }
}

@media only screen and (max-width: 600px) {
    .social-media {
        text-align: center;
    }
}
  

/* Media Queries */