<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Patua+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Bulls Rugby Club</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="indigo darken-4">
                <div class="nav-wrapper">
                    <h1 href="#!" class="brand-logo club-name">Bulls Rugby Club</h1>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('home_page') }}">Home</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="{{ url_for('gameorg') }}">Game Schedule</a></li>
                        <li><a href="{{ url_for('get_men_team') }}">Men's Team</a></li>
                        <li><a href="{{ url_for('get_women_team') }}">Women's Team</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="{{ url_for('gameorg') }}">Game Schedule</a></li>
            <li><a href="{{ url_for('get_men_team') }}">Men's Team</a></li>
            <li><a href="{{ url_for('get_women_team') }}">Women's Team</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
        </ul>
    </header>
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="indigo darken-1 col s12 m4 offset-m4 flash-message">
                <h5 class="center-align">{{ message }}</h5>
            </div>
        </div>
        {% endfor %}
        {% endif %}\
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-unit indigo darken-4">
        <div class="row">
            <div class="col s12 m2 copyright center-align">
                <small> &copy; Copyright 2021 - Bulls Rugby Club </small>
            </div>
            <div class="col s12 m4 offset-m6 right-align social-media">
                <a class="social-item" href="https://www.facebook.com" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a class="social-item" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-item" href="https://www.instagram.com" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>