{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s10 offset-s1 m4 offset-m4 red  page-heading">
        <h3 class="center-align">Game Results</h3>
    </div>
</div>

 <table>
     {% for story in news %}
        <thead>
            <tr class="indigo darken-4">
              <th></th>
              <th class="result-date">{{ story.date }}</th>
              <th></th>
          </tr>
          <tr>
              <th>Venue</th>
              <th>Team</th>
              <th>Score</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{ story.venue }}</td>
            <td>{{ story.team }}</td>
            <td>{{ story.bullsresult }}</td>
          </tr>
          <tr>
            <td>{{ story.venue }}</td>
            <td>{{ story.opposition }}</td>
            <td>{{ story.oppresult }}</td>
          </tr>
          
        </tbody>
        {% endfor %}
      </table>   

  





    
    {% endblock %}