{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Game Fixture</h3>
    </div>
</div>

<!-- Game Schedule Form -->
<div class="match-fixture">
    <form method="POST" action="{{ url_for('gameorg') }}">

        <div class="row" id="team-select">
            
            <div class="input-field-game match-org col s12 m4 offset-m1">
                <select name="team-opt" id="team-opt" required>
                    <option value="" disabled selected>Team</option>
                    <option value="men">Men</option>
                    <option value="women">Women</option>
                </select>
                <label></label>
            </div>
        </div>
        <div class="row" id="game-date-wrap">
            
            <div class="input-field-game col s12 m4 offset-m1">
                <input type="text" id="game-date" name="game-date" placeholder="Date" class="datepicker match-org">
                <label for="game-date"></label>
            </div>
        </div>
        <div class="row" id="opposition-wrap">
            
            <div class="input-field-game col s12 m4 offset-m1">
                <input id="opposition" name="opposition" type="text" placeholder="Opposition" class="match-org" required>
                <label for="opposition"></label>
            </div>
        </div>
        <div class="row" id="venue-wrap">
            
            <div class="input-field-game col s12 m4 offset-m1">
                <input id="venue" name="venue" type="text" placeholder="Venue" class="match-org" required>
                <label for="venue"></label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light red" type="submit" name="action">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}