{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s10 offset-s1 m4 offset-m4 red  page-heading">
        <h3 class="center-align">Game Results</h3>
    </div>
</div>

<table>
    {% for game in games %}
    <thead>
        <tr class="indigo darken-4">
            <th></th>
            <th class="result-date">{{ game.date }}</th>
            <th><a href="{{ url_for('update_score', game_id=game._id) }}" class="btn-small indigo">Edit Score</a></th>
        </tr>
        <tr>
            <th>Venue</th>
            <th>Team</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ game.venue }}</td>
            <td>{{ game.team }}</td>
            <td>{{ game.bullsresult }}</td>
        </tr>
        <tr>
            <td>{{ game.venue }}</td>
            <td>{{ game.opposition }}</td>
            <td>{{ game.oppresult }}</td>
        </tr>
        
    </tbody>
    {% endfor %}
</table>








{% endblock %}