{% extends "base.html" %}
{% block content %}

<div class="img-size">
    <img src="static/img/cover-photo_v1.jpg" class="home-pic" alt="rugby ball on pitch">
</div>
<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel indigo darken-4 home-card">
            <span class="white-text"> Welcome to Bulls Rugby Club where the only requirement is love for the game of Rugby! 
                We are a small club with a big heart and very happy to welcome new members. Check out the links
                to sign up and join a team, or simply to sign up as a social member! 
            </span>
        </div>
    </div>
</div>

{% endblock %}