{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Log In</h3>
    </div>
</div>

<!-- login form -->
<div class="login">
    <form class="form-content" method="POST" action="{{ url_for('login') }}">
        <div class="row">
            <div class="input-field col s12 m5 offset-m1 login-area">
                <div>
                    <input id="username" name="username" type="text" class="validate login-field" placeholder="Username"
                        required>
                    <label for="username"></label>
                </div>
                <div class="login-password">
                    <input id="password" name="password" type="password" class="validate login-field"
                        placeholder="Password" required>
                    <label for="password"></label>
                </div>
                <div class="center-align login-submit">
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Log In</button>
                </div>
            </div>
            <div class="col s12 m5 offset-m1">
                <img src="../static/img/login_icon.png" alt="stadium picture" class="login-pic center-align">
            </div>
        </div>
    </form>
</div>

{% endblock %}