{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Match Team</h3>
    </div>
</div>

<!-- team members available -->
<div>
    <h5 class="center-align match-team-head">Player Availability</h5>
    <div class="row center-align">
        <div class="input-field-signup col s12 m4 offset-m4">
            <select name="match-team" id="team-select" onchange="teams()">
                <option value="" disabled selected>Team</option>
                <option value="men">Men</option>
                <option value="women">Women</option>

            </select>
            <label></label>
        </div>
    </div>
    {% for player in players %}
    
        {% if player['available']|lower == "available" and player['team'] == "women" %}

        <div class="row players-available-women" id="girls-a">
            <div class="col s12 m4 offset-m4">
                <p>
                    {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                    {{ player['available'] }} for the {{ player['team'] }}'s team
                    that have a game on {{ player['date'] }} and will meet up with the team at the {{ player['meet'] }}.
                </p>
            </div>
        </div>
        {% elif player['available']|lower == "unavailable" and player['team'] == "women" %}
        <div class="row players-available-women" id="girls-un">
            <div class="col s12 m4 offset-m4">
                <p>
                    {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                    {{ player['available'] }} for the {{ player['team'] }}'s team
                    that have a game on {{ player['date'] }}.
                </p>
            </div>
        </div>
    
    {% endif %}
    
        {% if player['available']|lower == "available" and player['team'] == "men" %}
   
        <div class="row players-available-men" id="guys-a">
            <div class="col s12 m4 offset-m4">
                <p>
                    {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                    {{ player['available'] }} for the {{ player['team'] }}'s team
                    that have a game on {{ player['date'] }} and will meet up with the team at the {{ player['meet'] }}.
                </p>
            </div>
        </div>
        {% elif player['available']|lower == "unavailable" and player['team'] == "men" %}
        <div class="row players-available-men" id="guys-un">
            <div class="col s12 m4 offset-m4">
                <p>
                    {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                    {{ player['available'] }} for the {{ player['team'] }}'s team
                    that have a game on {{ player['date'] }}.
                </p>
            </div>
        </div>
    
    {% endif %}
    {% endfor %}
</div>



{% endblock %}