{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Match Team</h3>
    </div>
</div>

<!-- team members available -->
<div>
    <h5 class="center-align match-team-head">Player Availability</h5>
    <div class="row">
        <div class="col s6 m1 offset-m5">
        <a href="#" class="btn-small indigo">Girls</a>
        </div>
        <div class="col s6 m1">
        <a href="#" class="btn-small indigo">Guys</a>
        </div>
    </div>
    {% for player in players %}
    {% if player['available']|lower == "available" and player['team'] == "women" %}

    <div class="row players-available-wommen" id="players-available-women">
        <div class="col s12 m4 offset-m1">
            <P>
                {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                {{ player['available'] }} for the {{ player['team'] }}'s team
                that have a game on {{ player['date'] }} and will meet up with the team at the {{ player['meet'] }}.
            </P>
        </div>
    </div>
    {% elif player['available']|lower == "unavailable" and player['team'] == "women" %}
        <div class="row">
        <div class="col s12 m4 offset-m1">
            <p>
                {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                {{ player['available'] }} for the {{ player['team'] }}'s team
                that have a game on {{ player['date'] }}.
            </p>
        </div>
    </div>
    {% endif %}
        {% if player['available']|lower == "available" and player['team'] == "men" %}

    <div class="row players-available-men" id="players-available-men">
        <div class="col s12 m4 offset-m1">
            <P>
                {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                {{ player['available'] }} for the {{ player['team'] }}'s team
                that have a game on {{ player['date'] }} and will meet up with the team at the {{ player['meet'] }}.
            </P>
        </div>
    </div>
    {% elif player['available']|lower == "unavailable" and player['team'] == "men" %}
    <div class="row players-available">
        <div class="col s12 m4 offset-m1">
            <p>
                {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                {{ player['available'] }} for the {{ player['team'] }}'s team
                that have a game on {{ player['date'] }}.
            </p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>



{% endblock %}