{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Match Team</h3>
    </div>
</div>

<!-- team members available -->

<h5 class="center-align match-team-head">Player Availability</h5>

{% for player in players %}
{% if player['team'] == "women" %}

    <div class="row players-available-women">
        <div class="col s12 m4 offset-m4">
            <p>
                {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                {{ player['available'] }} for the {{ player['team'] }}'s team
                that have a game on {{ player['date'] }} and will meet up with the team at the {{ player['meet'] }}.
            </p>
        </div>
    </div>


    {% endif %}

    {% if player['team'] == "men" %}

    <div class="row players-available-men">
        <div class="col s12 m4 offset-m4">
            <p>
                {{ player['firstname'].capitalize() }} {{ player['lastname'].capitalize() }} is
                {{ player['available'] }} for the {{ player['team'] }}'s team
                that have a game on {{ player['date'] }} and will meet up with the team at the {{ player['meet'] }}.
            </p>
        </div>
    </div>


    {% endif %}

{% endfor %}




{% endblock %}