{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s10 offset-s1 m4 offset-m4 red  team-name">
        <h3 class="center-align">Men's Team</h3>
    </div>
</div>

<div class="row">
    {% for man in men %}
    <div class="col s12 m3">
        <div class="card team-detail">
            <div class="card-image player-pos">
                <img src="static/img/player-prof.jpg">
                <span class="card-title">{{ man.position }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content player-name">
                <p>{{ man.firstname }} {{ man.lastname }}</p>
            </div>
                    {% if session.user|lower == man.username|lower %}
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                </label>
            </div>
                    {% endif %}
            
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}