{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Fixtures and Results</h3>
    </div>
</div>
{% for man in men %}

{% if session.user|lower == man.username|lower %}


<div class="row">
    <div class="col s12 center-align player-instruct">
        <p>{{ man.username.capitalize() }}, don't forget to update your game availability!</p>
        <a href="{{ url_for('male_avail') }}" class="btn-small red center-align">Game Attendance</a>
    </div>
</div>
{% endif %}
{% endfor %}

<!-- table of results and  fixtures -->
<table>

    {% for game in games %}

    <thead>

        <tr class="result-table-head indigo lighten-1">
            <th>Venue / Date</th>
            <th>Teams</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody class="result-table">

        <tr class="">
            <td>{{ game.venue }}</td>
            <td>{{ game.team }} Bulls Team</td>
            <td>{{ game.bullsresult }}</td>
        </tr>
        <tr class="">
            <td>{{ game.date }}</td>
            <td>{{ game.opposition }}</td>
            <td>{{ game.oppresult }}</td>
        </tr>
        <tr>
            {% if session.user|lower == "manager"|lower %}
            <td>
                <a href="{{ url_for('update_score', game_id=game._id) }}" class="btn-small indigo">Edit</a>
            </td>
            <td> </td>
            <td>
                <a href="{{ url_for('delete_game', game_id=game._id) }}" class="btn-small red">Remove</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}