{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Fixtures and Results</h3>
    </div>
</div>
{% for man in men %}

{% if session.user|lower == man.username|lower %}


<div class="row">
    <div class="col s12 center-align player-instruct">
        <p>{{ man.username.capitalize() }}, don't forget to update your game availability!</p>
        <a href="{{ url_for('male_avail') }}" class="btn-small red center-align">Game Attendance</a>
    </div>
</div>
{% endif %}
{% endfor %}

<!-- table of results and  fixtures -->
<div class="row">
    {% for game in games %}
    <div class="col s12">
        <div class="row result-table-head indigo lighten-1">
            <div class="col s6">Venue: {{ game.venue.capitalize() }}</div>
            <div class="col s6">Date: {{ game.date }}</div>
        </div>
        <div class="row result-table">
            <div class="col s6">{{ game.team.capitalize() }} Bulls</div>
            <div class="col s6">{{ game.bullsresult }}</div>
            <div class="col s6">{{ game.opposition.capitalize() }}</div>
            <div class="col s6">{{ game.oppresult }}</div>
        </div>
    </div>
    {% if session.user|lower == "manager"|lower %}
    <div class="row">
        <div class="col s6"><a href="{{ url_for('update_score', game_id=game._id) }}" class="btn-small indigo">Edit</a>
        </div>
        <div class="col s6"><a href="{{ url_for('delete_game', game_id=game._id) }}" class="btn-small red">Remove</a>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</div>


{% endblock %}