{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Sign Up</h3>
    </div>
</div>

<form method="POST" action="{{ url_for('signup') }}">
    <div class="row">

        <div class="input-field col s12 m4">
            <input id="username" name="username" type="text" class="validate" required>
            <label for="username">Username</label>
        </div>
        <div class="input-field col s12 m4 offset-m2">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>
    </div>

    <div class="row">

        <div class="input-field col s12 m4">
            <input id="firstname" name="firstname" type="text" class="validate" required>
            <label for="firstname">First Name</label>
        </div>
        <div class="input-field col s12 m4 offset-m2">
            <input id="lastname" name="lastname" type="text" class="validate" required>
            <label for="lastname">Last Name</label>
        </div>
    </div>
    <div class="row" id="membership-select">
        <div class="col s3">
            <p>Membership</p>
        </div>
        <div class="input-field col s4">
            <select name="membership" id="member-selector" onchange="check()" required>
                <option value="" disabled selected>Type</option>
                <option value="volunteer">Volunteer</option>
                <option value="player">Player</option>
                <option value="social">Social</option>

            </select>
            <label>Membership Type</label>
        </div>
    </div>
    <div class="row" id="gender-select">
        <div class="col s3">
            <p>Gender</p>
        </div>
        <div class="input-field col s4">
            <select name="gender" id="gender-selector">
                <option value="" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>

            </select>
            <label>Gender Select
            </label>
        </div>
    </div>
    <div class="row" id="position-select">
        <div class="col s3">
            <p>Position</p>
        </div>
        <div class="input-field col s4">
            <select name="position" id="pos-selector">
                <option value="" disabled selected>Position</option>
                <option value="front row">Front Row</option>
                <option value="second row">Second Row</option>
                <option value="back row">Back Row</option>
                <option value="half back">Half Back</option>
                <option value="center">Center</option>
                <option value="full back">Full Back</option>
            </select>
            <label>Playing Position</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Sign Up</button>
        </div>
    </div>
</form>

{% endblock %}
<!--<div class="row">
        <div class="col s3">
            <p>Membership Type</p>
        </div>
        <div class="col s3">
            <p>
                <label for="volunteer">
                    <input class="with-gap" name="group1" value="volunteer" type="radio" id="volunteer" onclick="noshowpos();" required>
                    <span>Volunteer</span>
                </label>
            </p>
        </div>
        <div class="col s3">
            <p>
                <label for="player">
                    <input class="with-gap" name="group1" value="player" type="radio" id="player" onclick="showpos();" >
                    <span>Player</span>
                </label>
            </p>
        </div>
        <div class="col s3">
            <p>
                <label for="social-member">
                    <input class="with-gap" name="group1" value="social-member" type="radio" id="social-member" onclick="noshowpos();" >
                    <span>Social</span>
                </label>
            </p>
        </div>
    </div>
    <div class="row" id="gender-select">
        <div class="col s3">
            <p>Gender</p>
        </div>
        <div class="col s3">
            <p>
                <label for="male">
                    <input class="with-gap" name="group2" value="male" type="radio" id="male"  >
                    <span>Male</span>
                </label>
            </p>
        </div>
        <div class="col s3">
            <p>
                <label for="female">
                    <input class="with-gap" name="group2" value="female" type="radio" id="female" >
                    <span>Female</span>
                </label>
            </p>
        </div>
    </div>

    -->