{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Sign Up</h2>

<form method="POST" action="{{ url_for('signup') }}">
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <input id="username" name="username" type="text" class="validate">
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <p>Membership Type</p>
        </div>
        <div class="col s3">
            <p>
                <label for="player">
                    <input class="with-gap" name="group1" type="radio" id="player" checked />
                    <span>Player</span>
                </label>
            </p>
        </div>
        <div class="col s3">
            <p>
                <label for="volunteer">
                    <input class="with-gap" name="group1" type="radio" id="volunteer" />
                    <span>Volunteer</span>
                </label>
            </p>
        </div>
        <div class="col s3">
            <p>
                <label for="social-member">
                    <input class="with-gap" name="group1" type="radio" id="social-member" />
                    <span>Social</span>
                </label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <p>Gender</p>
        </div>
        <div class="col s3">
            <p>
                <label for="male">
                    <input class="with-gap" name="group2" type="radio" id="male" checked />
                    <span>Male</span>
                </label>
            </p>
        </div>
        <div class="col s3">
            <p>
                <label for="female">
                    <input class="with-gap" name="group2" type="radio" id="female" />
                    <span>Female</span>
                </label>
            </p>
        </div>
    </div>
</form>

{% endblock %}