{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s10 offset-s1 m4 offset-m4 red  page-heading">
        <h3 class="center-align">Update Score</h3>
    </div>
</div>
<div class="row">
    <div class="col s10 offset-s1 m4 offset-m4 indigo lighten-1 update-head">
        <h4 class="center-align">{{game.date}}</h4>
    </div>
</div>

<!-- update score form -->
<form method="POST" action="{{ url_for('update_score', game_id=game._id) }}">
    <div class="row">
        <div hidden>
            <div class="input-field col s12 m4">
                <input id="team" name="team" type="text" value="{{game.team}}" class="validate" required>
                <label for="team"></label>
            </div>
            <div class="input-field col s12 m4">
                <input id="date" name="date" type="text" value="{{game.date}}" class="validate" required>
                <label for="date"></label>
            </div>
            <div class="input-field col s12 m4">
                <input id="opposition" name="opposition" type="text" value="{{game.opposition}}" class="validate"
                    required>
                <label for="opposition"></label>
            </div>
            <div class="input-field col s12 m4">
                <input id="venue" name="venue" type="text" value="{{game.venue}}" class="validate" required>
                <label for="venue"></label>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 teams">
                <p>{{game.team}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field-score col s4 offset-s4 m2 offset-m5">
                <input id="bullsresult" name="bullsresult" type="text" class="validate" required>
                <label for="bullsresult"></label>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 teams">
                <p>{{game.opposition}}</p>
            </div>
            <div class="row">
                <div class="input-field-score col s4 offset-s4 m2 offset-m5">
                    <input id="oppresult" name="oppresult" type="text" class="validate text-center" required>
                    <label for="oppresult"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Update Score</button>
        </div>
    </div>
</form>

{% endblock %}