{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Update Score</h2>

<!-- update score form -->
<form method="POST" action="{{ url_for('update_score', game_id=game._id) }}">
    <div class="row">
        <div class="input-field col s12 m4">
            <input id="bullsresult" name="bullsresult" type="text" class="validate" required>
            <label for="bullsresult"></label>
        </div>
        <div class="input-field col s12 m4 offset-m2">
            <input id="oppresult" name="oppresult" type="text" class="validate" required>
            <label for="oppresult"></label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update Scores</button>
        </div>
    </div>
</form>

{% endblock %}