{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 red  page-heading">
        <h3 class="center-align">Women's Team</h3>
    </div>
</div>

<!-- men's team detail -->
<div class="row">
    {% for woman in women %}
    <div class="col s12 m3">
        <div class="card team-detail">
            <div class="card-image player-pos">
                <img src="{{ woman.profilepic }}">
            </div>
            <div class="card-content player-name">
                <p>{{ woman.firstname }} {{ woman.lastname }}</p>
                <span class="card-title">{{ woman.position }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}